<div>
  <h3>Members</h3>
  <hr class="d-block" />
  <div>
    <h4>Read</h4>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Modify</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of membersService.members; let index=index">
          <td>
            <input type="text" placeholder="Name"
              [ngModel]="member.name"
              (ngModelChange)="member.name = $event"
            >
          </td>
          <td>
            <input type="text" placeholder="Age"
              [ngModel]="member.age"
              (ngModelChange)="member.age = $event"
            >
          </td>
          <td>
            <button (click)="membersService.membersUpdate(index, member)">Update</button>
            <button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="d-block" />
  <div>
    <h4>Create</h4>
    <input type="text" placeholder="Name"
      [ngModel]="membersService.member.name"
      (ngModelChange)="membersService.member.name = $event"
    >
    <input type="text" placeholder="Age"
      [ngModel]="membersService.member.age"
      (ngModelChange)="membersService.member.age = $event"
    >
    <button (click)="membersService.membersCreate()">Create</button>
  </div>
</div>
